.wrapper
  = render "/layouts/header"
  .main
    .main-container
      - @posts.each do |post| 
        .post
          .post__top
            .post__top__user-image
            .post__top__user-name
              = post.user.nickname
            - if current_user.id == post.user.id 
              .post__top__delete
                = link_to post_path(post.id), method: :delete do
                  %i.fas.fa-trash-alt
          .post__main
            .post__main__text
              = post.content
            .post__main__image
          .post__bottom
            .post__bottom__date
              = post.created_at.strftime("%Y.%m.%d %H:%M:%S")
            .post__bottom__reaction
              .post__bottom__reaction__like
                = link_to post_likes_path(post.id), method: :post do
                  %i.far.fa-thumbs-up
                = post.likes.count
              .post__bottom__reaction__comment
                %i.far.fa-comment-alt
                = post.comments.count
        .comment-container
          .comment-container__form
            = form_with(url: "/posts/#{post.id}/comments", model: @comment, local: true) do |f|
              .comment-container__form__field
              = f.text_area :text, class: "comment-container__form__field--area", placeholder: "コメントを入力しよう！(50字以内)"
              .comment-container__form__submit
                = f.submit "送信", class: "comment-container__form__submit--btn"
          .comment-container__link
            = link_to "＞ コメント一覧へ", post_path(post.id), class: "comment-container__link--blue"


    .side-container
      .form
        = form_with(url: posts_path, model: @posts, local: true) do |f|
          = f.text_area :content, class: "form-field", placeholder: "褒めて欲しい内容を入力しよう！(100字以内)"
          = f.submit "送信", class: "submit"
      