.wrapper
  = render "/layouts/header"
  .main
    .main-container
      - @posts.each do |post| 
        .post
          .post__top
            .post__top__user-image
            .post__top__user-name
              = post.user.nickname
            .post__top__delete
              = link_to post_path(post.id),method: :delete do
                %i.fas.fa-trash-alt
          .post__main
            .post__main__text
              = post.content
            .post__main__image
          .post__bottom
            .post__bottom__date
              = post.created_at.strftime("%Y.%m.%d %H:%M:%S")
            .post__bottom__reaction
              .post__bottom__reaction__heart
                = link_to root_path do
                  %i.fas.fa-heart 1
              .post__bottom__reaction__thumbs-up
                = link_to root_path do
                  %i.far.fa-thumbs-up 1
              .post__bottom__reaction__comment
                = link_to root_path do
                  %i.far.fa-comment-alt 1
        .comment-container
          .comment-container__form
            = form_with(url: "/posts/#{post.id}/comments", model: @comment, local: true) do |f|
              = f.text_field :text, class: "comment-container__form__field", placeholder: "コメントを入力しよう！"
              = f.submit "送信", class: "comment-container__form__submit"
          .comment-container__link
            = link_to "＞ コメント一覧へ", post_path(post.id), class: "comment-container__link--blue"


    .side-container
      .form
        = form_with(url: posts_path, model: @posts, local: true) do |f|
          = f.text_field :content, class: "form-field", placeholder: "褒めて欲しい内容を入力しよう！！"
          = f.submit "送信", class: "submit"
      