.wrapper
  .header
    .header__left
      .header__left__logo
        = link_to root_path do
          = image_tag "didit.png", size: "150x50", class: "logo-image"
    .header__right
      - if user_signed_in?
        .header__right__user-name
          = current_user.nickname
        .header__right__home
          = link_to root_path do
            %i.fas.fa-home
        .header__right__cog
          = link_to  edit_user_registration_path do
            %i.fas.fa-cog
        .header__right__logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout__btn"
      - else 
        .header__right__login
          = link_to "ログイン", new_user_session_path, class: "login__btn"
        .header__right__regist
          = link_to "新規登録", new_user_registration_path, class: "regist__btn"
    -#  to_do: 1．user周り：ログイン．新規登録ボタンの作成ーマイページ，編集ボタンの作成
    -#         2．logo：ロゴの作成とリンクづけ
  .main
    .main-container
      -# postのテンプレート化
      - @posts.each do |post| 
        .post
          .post__top
            .post__top__user-image
            .post__top__user-name
              = post.user.nickname
          .post__main
            .post__main__text
              = post.content
            .post__main__image
          .post__bottom
            .post__bottom__date
              = post.created_at.strftime("%Y.%m.%d %H:%M:%S")
            .post__bottom__reaction
              .post__bottom__reaction__heart
                = link_to root_path do
                  %i.fas.fa-heart 1
              .post__bottom__reaction__thumbs-up
                = link_to root_path do
                  %i.far.fa-thumbs-up 1
              .post__bottom__reaction__comment
                = link_to root_path do
                  %i.far.fa-comment-alt 1
        .comment
          .comment__form
            = form_with(url: "/posts/#{post.id}/comments", model: @comments, local: true) do |f|
              = f.text_field :text, class: "comment__form__field", placeholder: "コメントを入力しよう！"
              = f.submit "送信", class: "comment__form__submit"
          .comment__all
            = link_to "＞ コメント一覧へ", root_path, class: "comment__all--link"


    .side-container
      -# 最終的にはJSで表示する形にするか検討中
      .form
        = form_with(url: posts_path, model: @posts, local: true) do |f|
          = f.text_field :content, class: "form-field", placeholder: "褒めて欲しい内容を入力しよう！！"
          = f.submit "送信", class: "submit"
      